<mat-card>
  <mat-card-header>
    <mat-card-title>{{ movie.title }}</mat-card-title>

    <mat-card-subtitle class="subtitle">
      {{ movie.originalLanguage}} | {{ movie.releaseDate | date: 'dd.MM.yyyy' }}
    </mat-card-subtitle>
  </mat-card-header>

  <img class="movie-cover" mat-card-image [src]="movie.backdropPath" />

  <mat-card-content>
    <p>{{ movie.overview }}</p>
  </mat-card-content>

  <mat-card-actions class="actions">
    <button mat-button [matBadge]="movie.voteCount" (click)="voteClick.emit(movie.id)">LIKE</button>
    <button mat-button (click)="detailsClick.emit(movie.id)">DETAILS</button>
  </mat-card-actions>

</mat-card>
