:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  .toolbar {
    flex: 0 0 auto;
    align-items: center;
    justify-content: space-between;

    .home {
      cursor: not-allowed;
    }

    nav {
      display: flex;
      gap: 4px;
    }
  }
}

main {
  flex: 1;
  overflow: auto;
}
